{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TypingReels{% endblock %}</title>
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{% static 'typingtest/style.css' %}">
    <link href="https://cdn.thopy.ai/thopy-icons/v1.0/thopy-icons.css" rel="stylesheet">
    <script>
      function toggleNavbar() {
        var navbar = document.getElementById("navbarNav");
        if (navbar.classList.contains("show")) {
          navbar.classList.remove("show");
        } else {
          navbar.classList.add("show");
        }
      }
    
    </script>
    <style>
      .navbar-brand {
          font-size: 24px; /* change the value as needed */
      }
      </style>
  </head>
  <body style="padding-top: 40px;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid custom-margin-left">
        <a class="navbar-brand font-weight-bold" href="{% url 'typingtest:index' %}">
          {% block app_name %}TypingReels{% endblock %}
        </a>
        <button class="navbar-toggler" type="button" onclick="toggleNavbar()" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'typingtest:movies' %}">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'typingtest:index' %}">About</a>
            </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'typingtest:leaderboard' %}">Leaderboard</a>
          </li>
          </ul>
        </div>
      </div>
    </nav>
    
    
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
