{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TypingReels{% endblock %}</title>
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{% static 'typingtest/style.css' %}">
    
  </head>
  <body>
    <nav>
      <div class="container">
        <ul>
          <li><a href="{% url 'typingtest:index' %}" class="logo">{% block app_name %}TypingReels{% endblock %}</a>
          <li><a href="{% url 'typingtest:index' %}">Movies</a></li>
          <li><a href="{% url 'typingtest:index' %}">About</a></li>
        </ul>
      </div>
    </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
