{% extends 'typingtest/base.html' %}

{% block title %}Start Typing Practice{% endblock %}

{% block styles %}
<style>
  {% if movie.movie_name == "Harry Potter" %}
  body {
    background-image: url("/static/typingtest/images/harrypotter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  .movie-name {
    color: white;
    margin-top: 70px; /* Change this value to adjust the margin top */
    }
  }
  {% else %}
  body {
    background-color: white;
  }
  
  .movie-name {
    color: black;
    margin-top: 70px; /* Change this value to adjust the margin top */
  }
    {% endif %}
  
      
    
</style>
{% endblock %}


{% block content %}
    <h1 class='movie-name'>{{ movie.movie_name}}</h1>
    <video src="{{ movie.movie_file.url }}" controls></video>
    
    <!-- Display the conversation scene here -->
    <form method="post" action="{% url 'typingtest:results' %}">
        <input type="hidden" name="movie_id" value="{{ movie.id }}">
        <div class="typing-area">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <button type="submit" class="submit-btn">Check</button>
        
    </form>
{% endblock %}
