  body {
    font-family: 'Open Sans', sans-serif;
  }
  .lead {
    text-shadow: 2px 2px 4px #000000;
  }
  .display-5 {
    text-shadow: 1px 1px 2px #000000;
    
  }
  .custom-margin-top {
    margin-top: 20px;
  }

  .custom-margin-left {
    margin-left: 8%;
  }
  .accuracy {
    font-size: 60px;
  }
  .container-result{
    width: auto;

  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .container-welcome {
        margin: 240px auto;
        width: 50%;
        text-align: center;
        color :white;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav .logo {
    font-size: 24px;
    font-weight: bold;
    margin-right : 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
  }
  
  .btn:hover {
    background-color: #0062cc;
  }

  .movie-name {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  video {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    
  }
  
  
  
  .typing-area {
    font-family: 'Open Sans', sans-serif;
    margin: 10px 15%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  .typing-area p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  
  .typing-area input {
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 97%;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
  }
  
  .submit-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #6a994e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  

  
  .container-result {
    max-width: 800px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    text-align: center;
  }
  
  .container-result h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .container-result h2 {
    font-size: 50px;
    color: #6a994e;
    margin-bottom: 10px;
  }
  
  .container-result .result {
    font-size: 16px;
    color: #333;
    margin-bottom: 50px;
  }
  
  .container-result p {
    color: black;
  }
  
  .container-result a {
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #6a994e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .container-result a:hover {
    background-color: #386641 ;
  }

